<toaster-container [toasterconfig]="toasterconfig">
</toaster-container>

<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">

      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <div class="row">

        <div class="portlet portlet-default">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4>Allotment Page </h4>
            </div>
            <div class="portlet-widgets">
              <i class="fa fa-plus-square" style="font-size:15px"></i> <a (click)="add()">Add Type</a>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="form-group">
                <label class="control-label col-md-3"> Select Room Type : </label>
                <div class="col-md-6">
                  <select name="typeof" class="form-group" (change)="getTypeof($event)">
                     <option  class="form-control" *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>
                     <option value="all"> ALL </option>    
                  </select>
                </div>
              </div>
            </div>
            <form #form="ngForm">
              <table id="employee" [mfData]="reglist | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
                [(mfSortOrder)]="sortOrder" class="table table-striped table-bordered dt-responsive nowrap table-hover table-green"
                cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="registrationid">Reg Id</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="reg_no">Reg No</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="pwd">PWD</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="distance">DistToClg</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="syear">Year</mfDefaultSorter>
                    </th>
                    <th style="text-align:center">
                      <mfDefaultSorter by="">Action</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="mf.data.length != 0">
                  <tr *ngFor="let dt of mf.data">
                    <td>{{dt.registrationid}}</td>
                    <td>{{dt.reg_no}}</td>
                    <td>{{dt.priority}}</td>
                    <td> <span *ngIf="dt.pwd=='1'">Yes</span><span *ngIf="dt.pwd=='0'">No</span></td>
                    <td>{{dt.distance}}</td>
                    <td style="text-align:center">{{dt.syear}}</td>
                    <td style="text-align:center"><a (click)="view(dt)" class="btn btn-green btn-xs btn-square"><i class="fa fa-eye"></i></a>&nbsp;
                      <a (click)="edit(dt)"
                        class="btn btn-info btn-xs btn-square"><i class="fa fa-check"></i></a>&nbsp;
                      <a (click)="delete(dt)" class="btn btn-danger btn-xs btn-square"><i class="fa fa-share"></i></a></td>
                  </tr>
                </tbody>
                <tbody *ngIf="mf.data.length == 0">
                  <tr rowspan="2">
                    <td colspan="14">
                      <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="14">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,12]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </form>

          </div>
        </div>


      </div>
      <!-- end DASHBOARD CIRCLE TILES -->

    </div>
    <!-- /.page-content -->

  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->

</div>

<popup #popup1 (confirmClick)="addBooking(newForm.value)">

  <form [formGroup]="newForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-4"> Start date : </label>
        <div class="col-md-6">
          <my-date-picker [options]="myDatePickerOptions" formControlName="startdate"></my-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> End date : </label>
        <div class="col-md-6">
          <my-date-picker [options]="myDatePickerOptions" formControlName="enddate"></my-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Sem startdate : </label>
        <div class="col-md-6">
          <my-date-picker [options]="myDatePickerOptions" formControlName="semstartdate"></my-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Sem enddate : </label>
        <div class="col-md-6">
          <my-date-picker [options]="myDatePickerOptions" formControlName="semenddate"></my-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Description : </label>
        <div class="col-md-6">
          <textarea class="form-control" formControlName="description"></textarea>
        </div>
      </div>
    </div>
  </form>
</popup>

<popup #popup2 >
   <div *ngIf="typeroom == 'all' " class="row">
              <div class="form-group">
                <label class="control-label col-md-3"> Select Room Type : </label>
                <div class="col-md-6">
                  <select name="typeof" class="form-group" (change)="getTypeof2($event)">
                     <option  class="form-control" *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>   
                  </select>
                </div>
              </div>
            </div>
<h3>Are you sure to accept</h3>
   <button (click)="addstudent()" class="pull-right btn btn-info btn-square"> Accept </button>
  <div class="clearfix"></div>
</popup>

<popup #popup3 (confirmClick)="deletebookings()">

  <h3>Are you sure to Delete this Room Type </h3>

</popup>

<popup #popup4>
  <div class="col-md-6">
    <h4>User Details</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{fullview.firstname}}</td>
        </tr>
        <tr>
          <td>DOB</td>
          <td>{{fullview.dob}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.mobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.email}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{fullview.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <h4>Parent Details </h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Father Name</td>
          <td>{{fullview.fname}}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{fullview.occupation}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.parentmobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.parentemail}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{fullview.permanentaddress}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{fullview.parentemail}}</td>
        </tr>
      </tbody>

    </table>
  </div>
  <button (click)="hide()" class="pull-right btn btn-info btn-square"> Close </button>
  <div class="clearfix"></div>
</popup>