<toaster-container [toasterconfig]="toasterconfig">
</toaster-container>

<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">

      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <div class="row">

        <div class="portlet portlet-default">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4> Assign Rooms </h4>
            </div>
            <!-- <div class="portlet-widgets">
              <i class="fa fa-plus-square" style="font-size:15px"></i> <a (click)="add()">Add Room</a>
            </div> -->
            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
          <div class="portlet-body">
            <div class="">

              <div class="form-horizontal">
                <div class="form-group">
                  <form [formGroup]="topForm">
                    <div class="col-md-3">
                      <label class="control-label"> Enter Reg No : </label>
                      <input type="text" formControlName="reg_no" class="form-control" placeholder="Enter Reg_no">
                    </div>


                    <button class="btn btn-info btn-square" (click)="submitA(topForm.value)" style="margin-top: 23px;">Submit </button>
                  </form>
                </div>
              </div>

            </div>
            <div *ngIf="showdetails" class="row">
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <table class="table table-bordered" style="margin-left: 7px;">
                    <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                      <table class="table table-hover table-bordered table-striped">
                        <tbody>
                          <tr>
                            <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px; text-align: center;">
                              User Details</td>
                          </tr>
                          <tr>
                            <td width="150">Stud Name</td>
                            <th>{{userdetails.firstname}}</th>
                          </tr>
                          <tr>
                            <td>Reg No </td>
                            <th>{{userdetails.reg_no}}</th>
                          </tr>
                          <tr>
                            <td>DOB</td>
                            <th>{{userdetails.dob}}</th>
                          </tr>
                          <!-- <tr>
                            <td>Gender</td>
                            <th *ngIf="{{userdetails.gender}}=='M'">Male</th>
                            <th *ngIf="{{userdetails.gender}}=='F'">Female</th>
                          </tr>
                          <tr>
                            <td>PwD(Person with Disability)</td>
                            <th *ngIf="{{userdetails.pwd}}=='1'">Yes</th>
                            <th *ngIf="{{userdetails.pwd}}=='0'">No</th>
                          </tr> -->
                          <tr>
                            <td>Distance bw (clg-hse) </td>
                            <th>{{userdetails.distance}}</th>
                          </tr>
                          <tr>
                            <td>College</td>
                            <th>{{userdetails.college}}</th>
                          </tr>
                          <tr>
                            <td> Branch </td>
                            <th>{{userdetails.branch}}</th>
                          </tr>
                          <tr>
                            <td>Year </td>
                            <th>{{userdetails.year}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                      <table class="table table-hover table-bordered table-striped">
                        <tbody>
                          <tr>
                            <td width="150">Father Name </td>
                            <th>{{userdetails.fathername}}</th>
                          </tr>
                          <tr>
                            <td>Father No</td>
                            <th>{{userdetails.parentmobile}}</th>
                          </tr>
                          <tr>
                            <td>Father Email</td>
                            <th>{{userdetails.parentemail}}</th>
                          </tr>
                          <tr>
                            <td>Mother Name</td>
                            <th>{{userdetails.mothername}}</th>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <th>{{userdetails.parentaddress}}</th>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-hover table-bordered table-striped">
                        <tr>
                          <td width="150">Gaurdian Name</td>
                          <th> {{userdetails.guardianname}} </th>
                        </tr>
                        <tr>
                          <td>Relation</td>
                          <th>{{userdetails.guardianrelation}}</th>
                        </tr>
                        <tr>
                          <td>Mobile No</td>
                          <th> {{userdetails.guardianmobile}} </th>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <th> {{userdetails.guardianemail}} </th>
                        </tr>
                        <tr>
                          <td>Address</td>
                          <th> {{userdetails.guardianaddress}} </th>
                        </tr>
                      </table>
                    </div>
                  </table>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <form [formGroup]="newForm">
                  <div class="col-md-12" style="border:1px solid #ddd;">
                    <div class="form-horizontal">
                      <div class="form-group text-center" style="background-color: #f9f9f9; border-bottom: 1px solid #ddd;padding: 5px;">
                        <label class="control-label">Enter Room Details</label>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-5"> Hostel Type : </label>
                        <div class="col-md-4">
                          <select formControlName="hosteltype" class="form-control" (change)="getRooms($event)">
                          <option  value="Boys"> Boys </option>
                          <option value="Girls"> Girls </option> 
                        </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-5"> Room No : </label>
                        <div class="col-md-4">
                          <select formControlName="roomno" class="form-control" (change)="getbeds($event)">
                          <option *ngFor="let item of roomslist" value="{{item.roomno}}"> {{item.roomno}} </option>  
                        </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-5"> Bed No : </label>
                        <div class="col-md-4">
                          <select formControlName="bedno" class="form-control">
                        <option *ngFor="let item of bedlist" value="{{item}}"> {{item}} </option>  
                      </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-5"> Room Type : </label>
                        <div class="col-md-4">
                          <input class="form-control" disabled value="{{userdetails.type}}" formControlName="roomtype">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <div class="col-lg-12">

                <button (click)="delete()" class="btn btn-danger btn-square pull-right"> Cancel </button>&nbsp;
                <button (click)="add(newForm.value)" class="btn btn-default btn-square pull-right" style="margin-right: 5px;"> Submit </button>
              </div>

            </div>

          </div>


        </div>


      </div>
      <!-- end DASHBOARD CIRCLE TILES -->

    </div>
    <!-- /.page-content -->

  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->

</div>

<popup #popup1>

<h3>Are You Sure To Add New User</h3>
<button (click)="addnewUser()" class="pull-right btn btn-default btn-square">Add</button>
<button (click)="hide()" class="pull-right btn btn-info btn-primary"> Close </button>
  <div class="clearfix"></div>

</popup>

<popup #popup2 (confirmClick)="editRoom(editForm.value)">
  <form [formGroup]="editForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-4"> Room No : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="roomno">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Avail Beds : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="avlbeds">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Total Beds : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="totbeds">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Room Status : </label>
        <div class="col-md-4">
          <select formControlName="rcstatus" class="form-control">
                   <option  value="available"> Available </option>
                   <option value="filled"> Filled </option> 
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Room Type : </label>
        <div class="col-md-4">
          <select formControlName="roomtype" class="form-control">
                     <option *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>  
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Hostel Type : </label>
        <div class="col-md-4">
          <select formControlName="hosteltype" class="form-control">
                     <option  value="Girls"> Girls </option>
                        <option  value="Boys"> Boys </option>    
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Hostel Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="hostelid">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Block Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="blockid">
        </div>
      </div>
    </div>
  </form>
</popup>

<popup #popup3 (confirmClick)="deletebookings()">

  <h3>Are you sure to Delete this user from this Room {{ roomno }} </h3>

</popup>

<popup #popup4>
  <div class="col-md-6">
    <h4>User Details</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>101
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{fullview.firstname}}</td>
        </tr>
        <tr>
          <td>DOB</td>
          <td>{{fullview.dob}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.mobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.email}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{fullview.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <h4>Parent Details </h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Father Name</td>
          <td>{{fullview.fname}}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{fullview.occupation}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.parentmobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.parentemail}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{fullview.permanentaddress}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{fullview.parentemail</td>
        </tr>
      </tbody>

    </table>
  </div>
  <button (click)="hide()" class="pull-right btn btn-info btn-square"> Close </button>
  <div class="clearfix"></div>
</popup>